.sideBar {
  height:  calc(100vh - 60px); 
  width: 12rem;
  border-radius:0 0 0.5rem;
  border-top: 1px solid var(--optionalColor);
  background-color: var(--secondaryColor);
  position: absolute;
  z-index: 1;
}
.general{
  margin-bottom:1rem;
}
.list{
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8rem;
  background-color: var(--optionalColor);
}
.list:hover{
  background-color: var(--mainColor);
}
li{
  margin: 0.5rem 0;
  padding:0.5rem 0rem  0.5rem 1rem;
  font-size: 0.7rem;
}

@media (max-width: 500px){
  .sideBar{
    width:50%;
  }
}