.video-main{
  width: 100dvw;
  height: calc(100dvh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mainColor);
}

.upload-block{
  width: 50rem;
  min-width: 370px;
  height: 25rem;
  position: absolute;
  background-color: var(--optionalColor);
}

.video-block{
  width: 100%;
  height:100%;
  position: relative;
  z-index: 0;
}
.processing-video{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); 
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-btn{
  padding: 0.5rem;
  font-size: 2.5rem;
  text-align: end;
  cursor: pointer;
}

.icon-box{
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.upload-icon{
  padding: 2rem;
  border-radius: 50%;
  font-size: 8rem;
  background-color: var(--mainColor);
}

.uploadFile-form{
  width: 100%;
  margin-top: 1.5rem;
  text-align: center;
}

.videoUpload-btn{
  font-size: 1rem;
  font-weight: 600;
  padding: 0.8rem 1rem;
  background-color: var(--secondaryColor);
  color:var(--optionalColor);
  border-radius: 5px;
  cursor: pointer;
}
.videoUpload-btn:focus{
  outline: none;
}

/*details*/

.details-form{
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
}

.details-input{
  color: var(--fontColor);
  font-size: 1.1rem;
  margin: 0 1rem;
  border: 2px solid var(--mainColor);
  border-radius: 5px;
  padding: 0 0.5rem;
}
.details-input:focus{
  outline: none;
}

.details-title{
  padding: 0.4rem;
}

.details-description{
  grid-column: span 2;
  height: 9rem;
}

.detailsUpload-btn{
  width: 5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.8rem 1rem;
  margin: 0 1rem;
  background-color: var(--secondaryColor);
  color:var(--optionalColor);
  border-radius: 5px;
  cursor: pointer;
}
