.main-section{
    width: 100%;
    max-width: 100dvw;
    position: relative;
    background-color: #F5E1C0;
}
.container-box {
    width: 100%;
    display: grid;
    padding: 1.5rem 1rem 0 1rem;
    grid-template-columns: repeat(4, minmax(0,  1fr));  
    gap:1rem;
    justify-content: center;
} 

@media (max-width: 600px) {
    .container-box {
        padding: 1.5rem 0 0 0;
        gap: 1.5rem;
        grid-template-columns: 1fr;
    } 
}

@media (min-width: 601px) and (max-width: 800px){
    .container-box{
        padding: 1.5rem 1rem 0 1rem;
        gap: 1.5rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1000px) and (max-width: 1200px){
    .container-box{
        padding: 1.5rem 1rem 0 1rem;
        gap: 1.5rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.card-img{
    height: 10rem; 
}

.card-details{
    padding: 0 .5rem;
}

.card-category{
    overflow: hidden;
    font-size: 0.6rem;
    color: purple;
}

.card-title{
    overflow: hidden;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
}

.card-caption{
    overflow: hidden;
    margin: 4px 0 1px 0;
    font-size: 1rem;
    font-weight: 500;
}